#abody {
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

#calc {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 5fr;
    height: 500px;
    width: 350px;
    text-align: center;
    background-color: beige;
    border-radius: 3%;
    justify-content: center;
    align-content: center;
    line-height: 60px;
}

#screen {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: .21fr 6fr .21fr;
    grid-template-rows: 1fr 8fr 1fr;
}

#calcText {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: cadetblue;
    line-height: 144px;
    text-align: end;
    padding-right: 20px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    overflow: auto;
    white-space: nowrap;
}

.buttons {
    background-color: rgb(168, 168, 168);
    border-radius: 7%;
}

#btnCase {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-gap: 4px;
    padding: 0px 10px 0px 10px;
}

#robin {
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Special Elite', cursive;
}

#modes {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    height: 30px;
    line-height: 30px;
    width: 100px;
    background-color: azure;
    text-align: center;
    border-radius: 5px;
}

.symbC {
    color: aquamarine;
    font-weight: 800;
    background-color: darkslategray;
}